@font-face {
  font-family: 'Breeze Personal Use';
  src: url('./fonts/Breeze Personal Use.ttf');
}

@font-face {
  font-family: 'PinkChicken-Regular';
  src: url('./fonts/PinkChicken-Regular.ttf');
}

body {
    background-image: url(coffee-5417663.svg);
    background-size: 500px;
    padding: 20px;
  }
  
  h1 {
    font-family: 'Breeze Personal Use', Arial, sans-serif;
    font-size: 4rem;
    font-weight: 100;
    text-transform: capitalize;
    color: rgb(73, 34, 9);
    font-display: swap;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-family: 'Breeze Personal Use', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 100;
    text-transform: capitalize;
    color: rgb(73, 34, 9);
    font-display: swap;
    margin-bottom: 10px;
  }

  p{
    font-family: 'PinkChicken-Regular', Arial, sans-serif;
    font-display: swap;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 25px;
    box-shadow: 0px 0px 50px 0px rgb(0, 0, 0);
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  hr {
    height: 4px;
    background-color: rgb(110, 58, 26);
    border: 0px;
    border-color:rgb(110, 58, 26);
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 14px;
  }
  
  .address {
    margin-bottom: 5px;
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: rgb(110, 58, 26);
  }
  
  a:active {
    color: rgb(110, 58, 26);
  }
